.cards-bg-wrapper {
    @apply rounded-md h-full;
    background: #e3e3e3;
    min-height: 0;
}


.cards {
    @apply flex flex-col w-full h-full rounded-md overflow-auto gap-1.5 p-1.5;
    background: var(--table-bg);
    min-height: 0;
}

.card {
    @apply flex flex-row rounded-md p-4 border
    no-underline align-middle items-center justify-between;
    background: var(--workshop-ticket-card-bg-color);
    border-color: var(--workshop-ticket-card-border-color);
    color: var(--html-default-text-color);
}

.card-start {
    @apply flex flex-col gap-4;
}

.card-end {
    @apply flex flex-col gap-4 justify-between h-full;
}

.card-group {
    @apply flex flex-row flex-wrap gap-6 justify-start w-full;
}

.card-group-slim {
    @apply flex flex-row flex-wrap gap-2 justify-start w-full;
}

.card-section {
    @apply flex flex-col;
}

.card small {
    font-size: 0.7rem;
}

.card p {
    @apply text-lg;
}

.card-pill-group {
    @apply flex flex-row gap-2 w-full py-1 flex-wrap;
    min-width: 0;
}

.card-pill-group-col {
    @apply flex flex-col gap-2 rounded-md w-full p-1 overflow-y-auto;
    background-color: #e3e3e3;
    min-width: 0;
}

.card-labelled-pill {
    @apply flex flex-row rounded-md items-center;
}

.card-labelled-pill-label {
    @apply text-sm rounded-l-md px-3 py-1.5 border-l border-t border-b;
    border-color: var(--workshop-ticket-labelled-pill-lebel-border-color);
    color: var(--button-default-text-color);
    background-color: var(--workshop-ticket-labelled-pill-lebel-bg-color);
}

.card-labelled-pill-device {
    @apply text-sm rounded-l-md px-3 py-1.5 border-l border-t border-b;
    border-color: var(--workshop-ticket-labelled-pill-lebel-border-color);
    color: var(--button-default-text-color);
    background-color: var(--workshop-ticket-inner-pill-bg-color);
}

.card-labelled-pill-text {
    @apply text-sm rounded-r-md px-3 py-1.5 border;
    border-color: var(--workshop-ticket-labelled-pill-lebel-border-color);
    color: var(--button-default-text-color);
    background-color: var(--workshop-ticket-pill-bg-color);
}

.card-pill {
    @apply flex flex-row rounded-md px-3 py-1.5 items-center;
    color: var(--button-default-text-color);
    background-color: var(--workshop-ticket-pill-bg-color);
}

.card-inner-pill {
    @apply text-sm rounded-md px-2 py-1 mr-2;
    color: var(--button-default-text-color);
    background-color: var(--workshop-ticket-inner-pill-bg-color);
}

.card-inner-pill-remove {
    @apply text-sm rounded-md px-2 py-1 ml-2;
    color: var(--workshop-ticket-pill-remove-color);
    background-color: var(--workshop-ticket-inner-pill-remove-bg-color);
}
