
.__elements__ > h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}

.__attention__ {
    @apply flex flex-col gap-2;
}

.__attention__ > div {
    @apply w-full;
}

.main-container {
    @apply flex flex-row h-screen w-full;
}

.main-content-stretch {
    @apply flex flex-col h-full py-4 px-4 w-full overflow-y-auto;
    min-width: 0;
    margin-top: 0.1rem;
}

.main-content-slim-row {
    @apply flex flex-row py-4 px-4 w-full overflow-y-auto;
    margin-top: 0.1rem;
}

.main-content-slim {
    @apply flex flex-col py-4 px-4 w-full h-full overflow-y-auto;
    margin-top: 0.1rem;
    min-height: 0;
}

.main-content-slim-row {
    @apply flex flex-row py-4 px-4 w-full;
    margin-top: 0.1rem;
}

.main-menu {
    @apply flex flex-col justify-between items-start h-screen
    overflow-x-hidden
    overflow-y-auto;
    background: var(--main-menu-bg-color);
}

.main-menu > div {
    @apply flex flex-col gap-2 p-4 w-full;
}

.main-menu-icon {
    @apply flex no-underline items-center
    rounded-3xl cursor-pointer shadow w-full;
    background: var(--main-menu-icon-bg-color);
    color: var(--main-menu-icon-text-color);
    border: 1px solid var(--main-menu-icon-border-color);
}

.main-menu-icon-active {
    @apply flex no-underline items-center
    rounded-xl cursor-pointer shadow w-full;
    background: var(--main-menu-icon-bg-color-hover);
    color: var(--main-menu-icon-text-color-hover);
    border: 1px solid var(--main-menu-icon-border-color-active);
}

.main-menu-icon:hover,
.main-menu-icon-hover {
    @apply rounded-xl no-underline w-full;
    background: var(--main-menu-icon-bg-color-hover);
    color: var(--main-menu-icon-text-color-hover);
    border: 1px solid var(--main-menu-icon-border-color-hover);
}

.main-menu-icon-active:hover {
    color: var(--main-menu-icon-text-color-hover);
}

.main-menu-icon svg, .main-menu-icon-active svg {
    @apply inline-block m-2 flex-shrink-0;
}

.main-menu-icon p, .main-menu-icon-active p {
    @apply inline-block;
}

.main-menu-icon span, .main-menu-icon-active span {
    @apply pr-6;
}

.tooltip-text {
    @apply hidden absolute bg-black text-white text-center p-1 px-3 rounded-lg;
    margin-top: 0.1rem;
}

.main-menu-icon:hover .tooltip-text {
    @apply block;
}

.main-menu-icon-active:hover .tooltip-text {
    @apply block;
}

@media (max-height: 550px) {
    .main-menu-icon:hover .tooltip-text {
        @apply hidden;
    }

    .main-menu-icon-active:hover .tooltip-text {
        @apply hidden;
    }
}

.sub-menu {
    @apply flex flex-col gap-2 pr-4;
    max-width: 200px;
    width: 100%;
}

.sub-menu-icon {
    @apply flex items-center justify-start w-full
    py-2 pl-2 pr-8 rounded-3xl cursor-pointer shadow gap-2;
    background: var(--sub-menu-icon-bg-color);
    color: var(--sub-menu-icon-text-color);
    border: 1px solid var(--sub-menu-icon-border-color);
}

.sub-menu-icon:hover {
    @apply rounded-xl;
    background: var(--sub-menu-icon-bg-color-hover);
    color: var(--sub-menu-icon-text-color-hover);
    border: 1px solid var(--sub-menu-icon-border-color-hover);
}

.sub-menu-icon-active {
    @apply flex items-center justify-start w-full
    py-2 pl-2 pr-8 rounded-xl cursor-pointer shadow gap-2;
    background: var(--sub-menu-icon-bg-color-hover);
    color: var(--sub-menu-icon-text-color-hover);
    border: 1px solid var(--sub-menu-icon-border-color-active);
}

.sub-content {
    @apply w-full overflow-y-auto;
}

.sectioned-content {
    @apply p-4 rounded border;
    background: var(--attention-light-default-bg-color);
}

.sticky-top-buttons {
    @apply top-0 flex sticky gap-2;
}

.page-section-header {
    @apply flex justify-between w-full mb-2;
}
