
.workshop-ticket-notes-bg-wrapper {
    @apply rounded-md mt-2 border;
    background: #e3e3e3;
    min-height: 0;
}

.workshop-ticket-notes {
    @apply flex flex-col-reverse w-full h-full
    rounded-md overflow-auto gap-1.5 p-1.5 resize-y;
    background: var(--table-bg);
    height: 250px;
}

.workshop-ticket-note {
    @apply p-2;
    background-color: var(--workshop-ticket-note-bg-color);
}

.workshop-ticket-note-stats {
    @apply text-xs mt-2;
}
