.-clickable {
    @apply cursor-pointer;
}

a.-flex-table-row, a.-grid-table-row {
    @apply no-underline cursor-pointer;
    color: inherit;
}

.-flex-table-bg-wrapper {
    @apply rounded-md h-full;
    background: #e3e3e3;
    min-height: 0;
}

.-table {
    @apply flex flex-col w-full h-full rounded-md;
    background: var(--table-bg);
    min-height: 0;
}

.-flex-table-header {
    @apply flex flex-row gap-2 rounded-md p-4 pt-0 font-bold;
}

.-table-overflow {
    @apply h-full overflow-auto;
    min-height: 0;
}

.-flex-table-row {
    @apply flex flex-row gap-2 rounded-md p-2;
}

.-flex-table-row:hover {
    background-color: var(--table-row-hover);
}

.-flex-table-cell-group {
    @apply flex flex-row gap-2;
}

.-flex-table-cell-min {
    @apply inline-block min-w-24;
}

.-flex-table-cell {
    @apply inline-block;
}

.-flex-table-cell-header {
    @apply inline-block;
    font-weight: bold;
}

.-grid-table-header {
    @apply grid gap-2 rounded-md px-4 py-2 font-bold;
    background: var(--table-bg);
}

.-grid-table-row {
    @apply grid gap-2 rounded-md px-4 py-2;
}

.-grid-table-row:hover {
    background-color: var(--table-row-hover);
}