[data-theme='cool'] {
    --html-body-bg-color: #f3f3f3;
    --html-default-text-color: #0b0b0b;

    /* SPINNER */
    --spinners: #065785;
    /* SPINNER */

    /* MAIN MENU */

    --main-menu-bg-color: #3e3e3e;
    --main-menu-icon-bg-color: #dcdcdc;
    --main-menu-icon-text-color: #252525;
    --main-menu-icon-border-color: rgba(255, 255, 255, 0);

    --main-menu-icon-bg-color-hover: #ffffff;
    --main-menu-icon-text-color-hover: #252525;
    --main-menu-icon-border-color-hover: rgba(0, 50, 67, 0.3);

    --main-menu-icon-bg-color-active: #ffffff;
    --main-menu-icon-text-color-active: #252525;
    --main-menu-icon-border-color-active: rgba(0, 50, 67, 0.3);

    /* MAIN MENU */

    /* SUB MENU */

    --sub-menu-icon-bg-color: #e3e3e3;
    --sub-menu-icon-text-color: #252525;
    --sub-menu-icon-border-color: rgba(255, 255, 255, 0);

    --sub-menu-icon-bg-color-hover: #ffffff;
    --sub-menu-icon-text-color-hover: #252525;
    --sub-menu-icon-border-color-hover: rgba(0, 50, 67, 0.3);

    --sub-menu-icon-bg-color-active: #ffffff;
    --sub-menu-icon-text-color-active: #252525;
    --sub-menu-icon-border-color-active: rgba(0, 50, 67, 0.3);

    /* SUB MENU */

    /* TABLES */
    --table-bg: #fbfbfb;
    --table-row-hover: #ededed;
    /* TABLES */

    /* BUTTONS */
    --button-default-bg: #e3e3e3;
    --button-default-text-color: #1e1e1e;
    --button-default-border-color: #b4b4b4;
    --button-default-bg-hover: #dcdcdc;
    --button-default-text-color-hover: #171717;

    --button-confirm-bg: #c1d4f1;
    --button-confirm-text-color: #171717;
    --button-confirm-border-color: #9ab0cf;
    --button-confirm-bg-hover: #98b8dd;
    --button-confirm-text-color-hover: #171717;
    --button-confirm-text-color-dull: #eaeaea;

    --button-good-bg: #b4e7b4;
    --button-good-text-color: #171717;
    --button-good-border-color: #4f9d4f;
    --button-good-bg-hover: #a3d9a3;
    --button-good-text-color-hover: #171717;

    --button-warning-bg: #fae8c9;
    --button-warning-text-color: #171717;
    --button-warning-border-color: #ffbf2d;
    --button-warning-bg-hover: #f1dbaf;
    --button-warning-text-color-hover: #171717;

    --button-danger-bg: #fcbbbb;
    --button-danger-text-color: #171711717177;
    --button-danger-border-color: #ff8484;
    --button-danger-bg-hover: #f5a7a7;
    --button-danger-text-color-hover: #171717;
    /* BUTTONS */

    /* H */
    --h1-color: #004e6e;
    --h2-color: #004e6e;
    --h3-color: #004e6e;
    --h4-color: #004e6e;
    --h5-color: #004e6e;
    --h6-color: #004e6e;
    /* H */

    /* A */
    --a-color: #004e6e;
    --a-hover-color: #06649b;
    /* A */

    /* TOAST BAR */
    --toast-bar-bg-color: rgba(227, 227, 227);
    --toast-bar-default-border-color: #454545;
    /* TOAST BAR */

    /* ATTENTION */
    --attention-light-default-bg-color: rgba(237, 237, 237, 0.8);
    --attention-light-default-bg-color-hover: rgba(228, 228, 228, 0.8);
    --attention-default-bg-color: rgba(227, 227, 227, 0.8);
    --attention-default-border-color: #b4b4b4;
    --attention-good-bg-color: rgba(180, 231, 180, 0.6);
    --attention-good-border-color: #4f9d4f;
    --attention-confirm-bg-color: rgba(6, 100, 155, 0.1);
    --attention-confirm-border-color: #004e6e;
    --attention-warning-bg-color: rgba(250, 232, 201, 0.6);
    --attention-warning-border-color: #ffbf2d;
    --attention-danger-bg-color: rgba(252, 187, 187, 0.6);
    --attention-danger-border-color: #ff8484;
    /* ATTENTION */

    /* FORM */
    --input-bg: #ffffff;
    --input-bg-read-only: #f4f4f4;
    --input-color-bg-hover: #f1f1f1;
    --input-bg-hover: #ffffff;
    --input-border: #d5d5d5;
    --input-border-hover: #b9b9b9;
    --input-border-focus: #757575;
    --input-required-bg: #ffe7e7;
    --input-range-accent-color: var(--button-confirm-bg-hover);

    --inline-label-bg: #efefef;
    --inline-label-border: #dadada;

    --form-action-bg: #e3e3e3;
    --form-action-bg-hover: #d3d3d3;
    --form-action-text-color: var(--html-default-text-color);
    /* FORM */

    /* PILLS */
    --pill-bg: #004e6e;
    /* PILLS */

    /* WORKSHOP TICKETS */

    --workshop-ticket-card-bg-color: #f4f4f4;
    --workshop-ticket-card-border-color: #acacac;
    --workshop-ticket-card-bg-color-hover: #efefef;
    --workshop-ticket-card-border-color-hover: #d1d1d1;
    --workshop-ticket-pill-bg-color: #ffffff;
    --workshop-ticket-inner-pill-bg-color: #e1eef8;
    --workshop-ticket-labelled-pill-lebel-bg-color: #e4e4e4;
    --workshop-ticket-labelled-pill-lebel-border-color: #cdcdcd;

    --workshop-ticket-note-bg-color: #f4f4f4;

    --workshop-ticket-pill-remove-color: #ffffff;
    --workshop-ticket-inner-pill-remove-bg-color: #610c15;


}

.bg-html-body-bg-color {
    background: var(--html-body-bg-color);
}