.install-background {
    @apply h-screen overflow-y-auto;
    min-height: 0;
}

.install-outer {
    @apply mx-auto py-4;
    width: 100%;
    max-width: 600px;
}

.install-inner {
    @apply shadow-xl rounded-xl p-6;
    width: 100%;
    background: #fbfbfb;
}

.install-form-group {
    @apply block;
}

.install-form-group input {
    @apply w-full;
}
