.system-services {
    @apply flex flex-col gap-1 w-full;
    max-width: 500px;
}

.system-users-header {
    @apply top-0 sticky w-full pb-4 z-10;
    background: var(--html-body-bg-color);
}

.system-users {
    @apply flex flex-col gap-1 w-full;
}

.system-service {
    @apply p-4 rounded border;
    background: var(--attention-light-default-bg-color);
}

.system-user {
    @apply flex flex-row gap-4 w-full rounded border p-4 justify-between align-middle items-center;
    background: var(--attention-light-default-bg-color);
}

.system-user small {
    font-size: 0.7rem;
}

.system-user-info {
    @apply flex flex-col gap-2;
}

.system-user-info-group {
    @apply flex flex-row flex-wrap gap-8;
}

.system-user-buttons {
    @apply flex flex-row gap-2;
}